h1 {
    font-style: oblique;
    text-align: center;
}
p {
    color: darkslateblue;
}
ul {
    border: 2px solid darkslateblue;
}
.dog {
  border: 2px solid black;
}
.cat {
  border: 2px solid black;
}
.kitty {
  border: 2px solid black;
}